.catalog {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 8%;
    margin-right: 40%;
    padding-bottom: 10px;
}
li {
    cursor: pointer;
    padding-bottom: 3px;
}
li:hover {
    border-bottom: #ffa269 solid 3px;
    padding-bottom: 0;
    color: #ffa269;
}
li:active {
    color: #E6925E;
}
li:focus {
    color: green;
}