.all {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
}
.list {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    align-items: center;
    min-width: 40%;
    margin-right: 300px;
    margin-left: 150px;
}
.nav {
    background-color: #fffcf9;
}
img {
    width: 3%;
}
li {
    cursor: pointer;
}